# Dependencies
node_modules

# Nuxt build output
.nuxt
.output
dist

# AWS Amplify
.amplify-hosting

# IDE / OS
.DS_Store
*.sw?
.vscode
.idea

# Claude
.claude

# Nuxt Content data
.data/

# Misc
*.log

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
