---
import MainLayout from "../../src/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import ArticleCard from "../components/ArticleCard.astro";
import type { CollectionEntry } from "astro:content";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";
import SearchForm from "../components/SearchForm.astro";
import MostRecentArticle from "../components/MostRecentArticle.astro";



const allBlogArticles: CollectionEntry<"blog">[] = await getCollection("blog");
const otherArticles: CollectionEntry<"blog">[] = allBlogArticles.slice(1);

const mostRecentArticle: CollectionEntry<'blog'> = allBlogArticles[0];
---

<MainLayout>
  <!-- Top Grid -->
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
        Articles & More
      </h1>
      <SearchForm />
    </div>
    <MostRecentArticle article={mostRecentArticle} />

    <!-- Main Grid -->
  </div>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      otherArticles
        .slice(0, HOMEPAGE_ARTICLE_LIMIT)
        .map((article) => <ArticleCard article={article} />)
    }
  </div>
</MainLayout>
