---
import { CollectionEntry } from 'astro:content'
import { MarkdownFrontmatterParseError } from '../../node_modules/astro/dist/core/errors/errors-data';

const { article } = Astro.props;

interface Props {
    article: CollectionEntry<'blog'>;
}
---

<div class="max-w-md mx-auto mt-10">
    <div class="bg-white rounded-lg overflow-hidden shadow-lg">
        <a href={"/articles/" + article.slug}></a> content
    </div>
</div>