---
const { currentPage, disablePrevious, disableNext } = Astro.props;

interface Props {
  currentPage: number;
  disablePrevious: boolean;
  disableNext: boolean;
}
---

<div class="flex justify-between mt-10">
  <a
    href={"/articles?page=" + (currentPage - 1)}
    class={disablePrevious
      ? "inline-block bg-neutral-100 px-3 py-2 text-neutral-400 rounded-lg pointer-events-none"
      : "inline-block bg-accent-100 px-3 py-2 text-accent-700 rounded-lg hover:bg-accent hover:text-light transition-colors duration-200"}
  >
    Previous
  </a>
  <a
    href={"/articles?page=" + (currentPage + 1)}
    class={disableNext
      ? "inline-block bg-neutral-100 px-3 py-2 text-neutral-400 rounded-lg pointer-events-none"
      : "inline-block bg-accent-100 px-3 py-2 text-accent-700 rounded-lg hover:bg-accent hover:text-light transition-colors duration-200"}
  >
    Next
  </a>
</div>
