---
import Foorter from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";
import "../styles/colors.css";
const { title = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE} 🤔 {title}</title>

    <!-- Google Fonts - Pacifico & Caveat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Caveat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="">
    <Nav />
    <section class="container mx-auto max-w-screen-xl mt-10 px-8">
      <slot />
    </section>
    <Foorter />
    <!-- Start of HubSpot Embed Code -->
    <script
      is:inline
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js-na2.hs-scripts.com/243485944.js"></script>
    <!-- End of HubSpot Embed Code -->
  </body>
</html>

<style is:global>
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .caveat-regular {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .caveat-medium {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .caveat-semibold {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .caveat-bold {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
</style>
